@import '../components/responsive.scss';

.recipeHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include for-phone-only {
        flex-direction: column;
        justify-content: flex-start;
    }
}

.imgContainer {
    width: 100%;
    position: relative;
    margin-bottom: 1.5rem;
    & img {
        border-radius: 5px;
    }
    min-height: 5em;
}

.favButton {
    border: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: transparent;
}

.ingredientsContainer {
    h2 {
        font-size: 1.5rem;
        text-decoration: underline;
    }
    padding: 1.7rem;
    background: #ffafbcb8;
    border-radius: 5px;
    color: #353539;
    font-family: 'avenir';
    font-weight: 700;
    margin-bottom: 3rem;

    p {
        margin: 0;
    }
}

.recipeTitle {
    font-family: 'avenir';
    font-size: 1.45rem;
}

.recipeContainer {
    color: #353539;
    font-family: 'avenir';

    h2 {
        font-size: 1.5rem;
        text-decoration: underline;
    }

    a,
    a:visited {
        color: black;
    }

    li {
        font-weight: 400;
    }
}

.navContainer {
    display: flex;
    justify-content: space-around;
    padding: 0.25rem;
}

.navButton {
    padding: 0.5rem;
    border-radius: 0.25rem;
    font-family: 'avenir';
    background-color: white;

    a {
        text-decoration: none;
    }

    a:visited {
        color: #ffafbd;
    }

    &:hover {
        background-color: #ffafbd;
    }

    &:hover > a {
        color: white;
    }
}
