@import '../components/responsive.scss';

.recipeHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include for-phone-only {
        flex-direction: column;
    }
}

.imgContainer {
    width: 100%;
    position: relative;
    margin-bottom: 1.5rem;
    & img {
        border-radius: 5px;
    }
}

.favButton {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background: white;
    border-radius: 4px;
    color: black;
    padding: 1rem;
    font-family: 'avenir';
}

.ingredientsContainer {
    padding: 1.7rem;
    background: #ffafbd;
    border-radius: 5px;
    color: white;
    font-family: 'avenir';
    margin-bottom: 3rem;

    p {
        margin: 0;
    }
}

.recipeTitle {
    font-family: 'avenir';
    font-size: 1.45rem;
}

.recipeContainer {
    color: #848484;
    font-family: 'avenir';
}

.navContainer {
    display: flex;
    justify-content: space-around;
    padding: 0.25rem;
}

.navButton {
    padding: 0.5rem;
    border-radius: 0.25rem;
    font-family: 'avenir';
    background-color: white;

    a {
        text-decoration: none;
    }

    a:visited {
        color: #ffafbd;
    }

    &:hover {
        background-color: #ffafbd;
    }

    &:hover > a {
        color: white;
    }
}
