.listContainer {
    h3 {
        margin-bottom: 0.5rem;
    }
    // * + * {
    //     margin-top: 1rem;
    // }

    hr {
        margin-top: 1rem;
        border-radius: 4px;
    }

    li {
        margin-left: calc(1.45rem / 2);
    }
}

.listTitle {
    font-size: 1rem;
    font-family: 'avenir';
}
