@import '../responsive.scss';

.header {
    padding: 1rem 1.75rem;
    & * {
        font-family: 'avenir';
    }
    display: flex;
    justify-content: flex-start;
    background: #ffafbd;
    background: -webkit-linear-gradient(to left, #ffc3a0, #ffafbd);
    background: linear-gradient(to left, #ffc3a0, #ffafbd);
    margin-bottom: 1.45rem;
    color: white;

    align-items: center;

    @include for-phone-only {
        flex-direction: column;
        align-items: flex-start;
    }
}

.title {
    font-size: 1.5rem;
    margin: 0;
    a {
        text-decoration: none;
        color: white;
    }
}

.navContainer {
    display: flex;
    align-items: center;
    min-width: 25vw;
    padding: 1.45rem 1.0875rem;
    justify-content: space-around;

    & a {
        text-decoration: none;
        font-weight: 600;
        color: white;
    }

    @include for-phone-only {
        padding: 1rem 0;
    }
}

@include for-phone-only {
    .burger {
        width: 30px;
        height: 22.5px;
        position: relative;
        // margin: 50px auto;
        transition: 0.5s ease-in-out;

        & span {
            display: block;
            position: absolute;
            height: 3px;
            width: 100%;
            background: white;
            border-radius: 9px;
            opacity: 1;
            left: 0;
            transition: 0.25s ease-in-out;
        }

        & span:nth-child(1) {
            top: 0px;
            transform-origin: left center;
        }

        & span:nth-child(2) {
            top: 9px;
            transform-origin: left center;
        }

        & span:nth-child(3) {
            top: 18px;
            transform-origin: left center;
        }
    }

    .open {
        & span:nth-child(1) {
            transform: rotate(45deg);
            top: -3px;
            left: 4px;
        }

        & span:nth-child(2) {
            width: 0%;
            opacity: 0;
        }

        & span:nth-child(3) {
            transform: rotate(-45deg);
            top: 18px;
            left: 4px;
        }

        &  .navContainer {
            border: 1px solid red;
        }
    }
}
