@import '../components/responsive.scss';

.layoutContainer {
    margin: 0 auto;
    max-width: 90vw;
    padding:  1.0875rem 1.45rem;

    @include for-phone-only {
        padding: 1.0875rem 0;
    }

    & > {
        * + * {
            border: 1px solid blue;
            margin-top: 1rem;
        }
    }
}
